<h1>About</h1>
<p>
  Im Karthik, a developer with experience in Ruby on Rails, React, PostgreSQL,
  and cloud tools like AWS. I’m using SimpleSite as a playground to refresh my
  Rails fundamentals and practice full-stack development.
</p>

<p>
  This project shows that I can:
</p>

<ul>
  <li>Set up a Rails project from scratch</li>
  <li>Create controllers, routes, and views</li>
  <li>Use Bootstrap to build clean interfaces</li>
  <li>Version control everything with Git & GitHub</li>
</ul>

