<h1>Portfolio</h1>
<p>Some example projects:</p>
<ul>
  <li>Taskflow API – Rails + React task manager</li>
  <li>SimpleSite – basic multi-page Rails website</li>
  <li>More coming soon...</li>
</ul>


